{{ $won := . }}
-- +goose Up
USE `{{ $won.BasePackage }}` ;

CREATE TABLE IF NOT EXISTS `{{ $won.BasePackage }}`.`{{ $won.NameUnderscore}}` (
    {{- range $field := $won.StructFields }}
    `{{ $field.NameUnderscore }}` {{ call $won.GetDBType $field "" }},
    {{- end }}
    PRIMARY KEY(`{{ $won.PrimaryKeyField.NameUnderscore }}`)
);
-- +goose Down
DROP TABLE IF EXISTS `{{ $won.BasePackage }}`.`{{ $won.NameUnderscore }}`;
