{{ $won := . }}
-- +goose Up
USE `bootstraphost` ;

CREATE TABLE IF NOT EXISTS `bootstraphost`.`{{ $won.NameUnderscore}}` (
    {{- range $field := $won.StructFields }}
    `{{ $field.NameUnderscore }}` {{ call $won.GetDBType $field "" }},
    {{- end }}
    PRIMARY KEY(`{{ $won.PrimaryKeyField.NameUnderscore }}`)
);
-- +goose Down
DROP TABLE IF EXISTS `bootstraphost`.`{{ $won.NameUnderscore }}`;
